{% extends 'base.html.twig' %}

{% block title %}Pokemon-Station Libération{% endblock %}

{% block body %}

    <section class="capture-effect">
        <div class="container-fluid container-view">

            <!-- Informations sur la rareté -->
            <header class="row">
                <div class="col-12 col-lg-10 mx-auto rarity-scale" id="scale-anchor">
                    <p>
                        À ce jour, <span>{{ totalPokemon }}</span> Pokémons ont été libérés dans le monde !<br>
                        Nouveauté: Gagnez encore plus de pièces en libérant 5, 10, 20, 50, 100 et 1000 fois un Pokémon !
                    </p>
                </div>
            </header>

            <!-- Affichage du Pokémon capturé -->
            <article class="row">
                <div class="col-12 col-lg-10 mx-auto view-pokemon" style="background-image: url({{ asset('medias/images/fonds/plante.png') }})">


                    <button class="volume">
                        <img class="active sound soundOn" src="{{ asset('medias/images/elements/volume.up.png') }}" alt="Activer le son Pokemon-Station">
                        <img class="type-none sound soundOff" src="{{ asset('medias/images/elements/volume.off.png') }}" alt="Désactiver le son Pokemon-Station">
                    </button>

                    <img class="logo-oh" src="{{ asset('medias/images/elements/oh.png') }}" alt="Oh!">
                    <img class="logo-what" src="{{ asset('medias/images/elements/what.png') }}" alt="Qu'est-ce que c'est ?">

                </div>
            </article>

        </div>
    </section>


    {#        Nombre de pièces #}

        <!--Bouton de capture-->
        <div class="mx-auto capture-ball text-center">

            <div id="carouselExample" class="carousel carousel-ball slide">

                <div class="carousel-inner carou-ball">

                    <div class="carousel-item justify-content-center active" data-ball="default">
                        <button class="capture-poke-button">
                            <img src="{{ asset('medias/images/balls/poke-ball.png') }}" id="pokeball-animate" class="pokeball-animate too-big" alt="Lancers de base de Pokemon-Station" >
                        </button>
                        <br>
                        <img class="multiple" src="{{ asset('medias/images/elements/multiple.png') }}" alt="Nombre de lancers disponibles Pokemon-Station">
                        <div class="launch-items launch-1">
                            {{ app.user.launchs}}
                        </div>

                    </div>



                    {% for userItem in allUserItems %}

                    <div class="carousel-item carou-not-base justify-content-center ball-{{ userItem.item.id }}" data-ball="{{ userItem.item.id }}">
                        <button class="capture-poke-button">
                            <img src="{{ asset('medias/images/balls/' ~ userItem.item.image) }}" id="pokeball-animate" class="pokeball-animate too-big" alt="{{ userItem.item.name }} Pokemon-Station" >
                        </button>
                        <br>
                        <img class="multiple" src="{{ asset('medias/images/elements/multiple.png') }}" alt="Nombre de lancers disponibles Pokemon-Station">
                        <div class="launch-items launch-{{ userItem.item.id }}">
                            {{ userItem.quantity }}
                        </div>

                    </div>

                    {% endfor %}

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    <div class="description-poke-capture my-auto mx-auto col-12 col-lg-4">
        <p class="pokemon-captured-infos visi-zero"></p>
    </div>

{#    Partie slider#}

    <div class="col-12 col-lg-10 mx-auto slider">
        {% if fiveLast is not empty %}
            <div class="lastpokemon">
                <div class="fivelast">

                    {% for pokemonCaptured in fiveLast%}

                        <div class="pokemon-five {% if pokemonCaptured.shiny is same as true %}shiny-slider{% endif %} slider-{{ pokemonCaptured.pokemon.rarity }}">
                            <div class="mini-infos">
                                <span class="poke-tronq">{{ pokemonCaptured.pokemon.name|title }}</span> ~
                                <a class="poke-tronq-2" href="{{ path('app_user_showprofile', {pseudonym:pokemonCaptured.owner.pseudonym})}}">{{ pokemonCaptured.owner.pseudonym | capitalize }}</a>
                                {% if "SHINY_WINNER" in pokemonCaptured.owner.roles %}
                                    <img class="top-badge" src="{{ asset('medias/images/items/key-stone.png') }}" alt="Vainqueur du mois pour les Shinys Pokemon-Station" title="Vainqueur du mois pour les Shinys">
                                {% endif %}
                                {% if "POINT_WINNER" in pokemonCaptured.owner.roles %}
                                    <img class="top-badge" src="{{ asset('medias/images/items/dragon-gem.png') }}" alt="Vainqueur du mois pour les points Pokemon-Station" title="Vainqueur du mois pour les points">
                                {% endif %}
                            </div>

                            <div class="mini-images">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="mini-gif"
                                         src="{{ asset('medias/images/gifs/' ~ (pokemonCaptured.shiny is same as true ? 'shiny-' : '') ~ pokemonCaptured.pokemon.nameEN ~ '.gif') }}"
                                         alt="Pokemon non-shiny">
                                    {% if pokemonCaptured.shiny is same as true %}
                                        <img class="mini-shiny" src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt="Pokemon shiny">
                                    {% endif %}
                                </div>
                                <img class="mini-trainer" src="{{ asset('medias/images/trainers/') ~ pokemonCaptured.owner.avatar ~ ".gif" }}" alt="Avatar de dresseur Pokemon de {{ pokemonCaptured.owner.pseudonym }}">
                            </div>

                            <span class="time-five">Le {{ pokemonCaptured.captureDate |date("d-m-Y H:i:s")  }}</span>
                        </div>

                    {% endfor %}

                </div>

                <div class="fivelast">

                    {% for pokemonCaptured in fiveLast%}

                        <div class="pokemon-five {% if pokemonCaptured.shiny is same as true %}shiny-slider{% endif %} slider-{{ pokemonCaptured.pokemon.rarity }}">

                        <div class="mini-infos">
                                <span class="poke-tronq">{{ pokemonCaptured.pokemon.name|title }}</span> ~
                                <a class="poke-tronq-2" href="{{ path('app_user_showprofile', {pseudonym:pokemonCaptured.owner.pseudonym})}}">{{ pokemonCaptured.owner.pseudonym | capitalize }}</a>
                            {% if "SHINY_WINNER" in pokemonCaptured.owner.roles %}
                                <img class="top-badge" src="{{ asset('medias/images/items/key-stone.png') }}" alt="Vainqueur du mois pour les Shinys" title="Vainqueur du mois pour les Shinys Pokemon-Station">
                            {% endif %}
                            {% if "POINT_WINNER" in pokemonCaptured.owner.roles %}
                                <img class="top-badge" src="{{ asset('medias/images/items/dragon-gem.png') }}" alt="Vainqueur du mois pour les points" title="Vainqueur du mois pour les points Pokemon-Station">
                            {% endif %}
                        </div>

                            <div class="mini-images">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="mini-gif"
                                         src="{{ asset('medias/images/gifs/' ~ (pokemonCaptured.shiny is same as true ? 'shiny-' : '') ~ pokemonCaptured.pokemon.nameEN ~ '.gif') }}"
                                         alt="Pokemon non shiny">
                                    {% if pokemonCaptured.shiny is same as true %}
                                        <img class="mini-shiny" src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt="Pokemon shiny">
                                    {% endif %}
                                </div>
                                <img class="mini-trainer" src="{{ asset('medias/images/trainers/') ~ pokemonCaptured.owner.avatar ~ ".gif" }}" alt="Avatar de dresseur Pokemon de {{ pokemonCaptured.owner.pseudonym }}">
                            </div>
                            <span class="time-five">Le {{ pokemonCaptured.captureDate |date("d-m-Y H:i:s")  }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>


{#    Shop #}

    <div class="shop">
        <div class="mini-shop">
            <h2 class="text-center shop-title text-white">Boutique</h2>
            <div class="coin-container text-end">
                <img class="coin-width-2" src="{{ asset('medias/images/elements/real-coin.png') }}" alt="">

                <p class="text-center coin-count"> {{ app.user.money }}</p>

            </div>

            <table class="text-center shop-table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Descr</th>
                        <th scope="col"></th>
                        <th scope="col">Qte</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="shop-list">

                {% for item in itemsToSell %}

                    <tr class="shop-item">
                        <td class="item-name">{{ item.name|trans|title }}<img class="mini-ball" src="{{ asset('medias/images/balls/' ~ item.image) }}" alt="Objet Pokemon-Station"></td>
                        <td class="price price-{{ loop.index }}">{{ item.price }}<img class="coin-width" src="{{ asset('medias/images/elements/real-coin.png') }}" alt="Monnaie Pokemon-Station"></td>
                        <td class="item-des">{{ item.description }}</td>
                        <td><button class="minus minus-{{ loop.index }}"><i class="fa-solid fa-minus"></i></button></td>
                        <td class="quantity quantity-{{ loop.index }}">0</td>
                        <td class="plus-td"><button class="plus plus-{{ loop.index }}"><i class="fa-solid fa-plus"></i></button></td>
                        <td class="item-id" hidden>{{ item.id }}</td>
                    </tr>

                {% endfor %}

                </tbody>
                <tfoot class="text-start">
                    <tr>
                        <td colspan="4"></td>
                        <td class="text-center total_shop">0</td>
                    </tr>
                </tfoot>
            </table>
            <br>
            <div class="text-center">
                <button class="text-center buy-it">Acheter</button>
            </div>
            <a href="#scale-anchor"><img src="{{ asset('medias/images/elements/button-up.png') }}" alt="Remonter en haut de la page de libération Pokemon-Station" class="button-up"></a>

        </div>
    </div>

{% endblock %}


{% block js %}

    <script>
        const capturedPageApi = '{{ url('app_capture_api') }}';
        const capturedShopApi = '{{ url('app_shop_api') }}';
        const pokemonsGifDir = '{{ asset('medias/images/gifs') }}';
        const pokemonsShineDir = '{{ asset('medias/images/sparkle') }}';
        const pokemonUppercase = '{{ ''|capitalize }}';
        const launchCounter = '{{ app.user.launchs}}';
        const newLogo = '{{ asset('medias/images/sparkle/new3.png') }}';
        const coin = '{{ asset('medias/images/elements/real-coin.png') }}';
        const newRare = '{{ asset('medias/cries/sounds/06-caught-a-pokemon.mp3') }}'
        const buyItemSound = '{{ asset('medias/cries/sounds/item-found.mp3') }}'
        const crySound = '{{ asset('medias/cries/') }}'
    </script>
    <script type="module" src="{{ asset('js/capture.js') }}?version=1.1"></script>

{% endblock %}