{% extends 'base.html.twig' %}

{% block title %}Pokemon-Station Accueil
{% endblock %}

{% block body %}


{#     Première partie de la page d'accueil, avec Sacha et Pikachu  #}
<div class="container-fluid project-contain">

	<h2 class="accueil">Bienvenue dresseur!</h2>

	<section class="concept d-flex flex-column flex-lg-row align-items-center">
		<img class="poke-bg" src="{{ asset('medias/images/background/pokeball-bg.png') }}" alt="Fond pokeball Pokemon-Station">
		<div class="home-image-div">
			<img src="{{ asset('medias/images/poke-perso/025.gif') }}" alt="Gif de Pikachu Pokemon-Station" class="pika-home">
			<img class="img-fluid chen" src="{{ asset('medias/images/elements/Professeur-Chen.png') }}" alt="Professeur Chen Pokemon-Station">
			<img class="img-fluid chen-shadow" src="{{ asset('medias/images/background/Shadow.png') }}" alt="Ombre Pokemon-Station">
			<img src="{{ asset('medias/images/poke-perso/017.gif') }}" alt="Gif de Roucoups Pokemon-Station" class="roucoups-home">
		</div>

		<div class="concept-div">
			<p class="concept-text">Pokemon-Station est un projet personnel basé sur le "gacha" vous permettant de libérer des Pokémons de manière aléatoire. Le but étant de remplir son pokédex ! Vous obtenez deux lancers par heures, avec un maximum de 100 cumulables en même temps.
				<br>
				Si vous obtenez des doublons, pas d'inquiétudes, vous recevrez des pièces vous permettant d'acheter de nouveaux lancers spéciaux.
				<br>
				Amusez vous bien!
			</p>

			<div class="etapes d-flex justify-content-center align-items-center">
				<div class="home-1">
					<p>Libérez !</p>
					<img src="{{ asset('medias/images/balls/poke-ball.png') }}" alt="Libérez Pokemon-Station">
				</div>

				<img class="arrow-home" src="{{ asset('medias/images/elements/arrow.png') }}" alt="Flèche Pokemon-Station">

				<div class="home-2">
					<p>Achetez !</p>
					<img src="{{ asset('medias/images/elements/coin-resized.png') }}" alt="Achetez Pokemon-Station">
				</div>

				<img class="arrow-home" src="{{ asset('medias/images/elements/arrow.png') }}" alt="Flèche Pokemon-Station">

				<div class="home-3">
					<p>Completez !</p>
					<img src="{{ asset('medias/images/items/poke-radar.png') }}" alt="Completez Pokemon-Station">
				</div>
			</div>
		</div>
	</section>


	<div class="d-flex flex-column flex-lg-row second-part">
		<section class="news-section col-12 col-lg-6">
			<h3>Les news :</h3>
			<div class="news-div">

				{% for news in allNews %}
					<div class="single-new">

						<button class="read-button" data-read="{{ news.id }}">
							<img src="{{ asset('medias/images/elements/unread.png') }}" alt="Pokenews pas encore lue">
						</button>

						<div class="news-date">Le {{ news.creationDate|date('Y/m/d') }} à {{ news.creationDate|date('H:m') }}</div>

						<h4 class="news-title">{{ news.title }}</h4>
						<br>
						<div class="news-body">{{ news.body|raw }}</div>

						<div class="author">{{ news.author|capitalize }}</div>

					</div>


				{% endfor %}




			</div>

		</section>

		<section class="top-section col-12 col-lg-6">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">

				<!-- Indicateurs du carrousel -->
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

				</div>

				<!-- Contenu du carrousel -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="top-div w-100">
							<h3 class="profile-title text-white">Top 10 Général</h3>
							<p class="top-info top-info-bis">Le Top 10 de tous les temps !</p>
							<table class="table-pokedex">
								<thead class="thead-top10">
								<tr>
									<th class="empty-th"></th>
									<th class="text-center" scope="col">Pseudo</th>
									<th class="text-center" scope="col">Pokédex</th>
									<th class="text-center" scope="col">Lancers</th>
								</tr>
								</thead>
								<tbody>
								{% for userData in topUserSpeciesSeen %}
									<tr class="pokedex-top-10">
										<td class="empty-td text-center">{{ userData.rank }}</td>
										<td class="text-center">
											<a href="{{ path('app_user_showprofile', { pseudonym : userData.user.pseudonym }) }}">{{ userData.user.pseudonym }}</a>
												{% if "SHINY_WINNER" in userData.user.roles %}
													<img class="top-badge" src="{{ asset('medias/images/items/key-stone.png') }}" alt="Vainqueur du mois pour les Shinys" title="Vainqueur du mois pour les Shinys Pokemon-Station">
												{% endif %}
												{% if "POINT_WINNER" in userData.user.roles %}
													<img class="top-badge" src="{{ asset('medias/images/items/dragon-gem.png') }}" alt="Vainqueur du mois pour les points" title="Vainqueur du mois pour les points Pokemon-Station">
												{% endif %}
										</td>
										<td class="text-center">{{ userData.total_species_seen }}/{{ pokedexSize }}</td>
										<td class="text-center">{{ userData.launch_count }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="carousel-item">
						<div class="top-div w-100">
							<h3 class="profile-title text-white">Top Points du Mois</h3>
							<div class="top-info-div">
								<p class="top-info">Points en fonction de la rareté</p>
								<div class="countdown"></div>
							</div>

							<table class="table-pokedex">
								<thead class="thead-top10">
								<tr>
									<th class="empty-th"></th>
									<th class="text-center" scope="col">Pseudo</th>
									<th class="text-center" scope="col">Points</th>
								</tr>
								</thead>
								<tbody>
								{% for top in topMonthlyPoints %}
									<tr class="pokedex-top-10">
										<td class="empty-td text-center">{{ top.rank }}</td>
										<td class="text-center">
											<a href="{{ path('app_user_showprofile', { pseudonym : top.user.pseudonym }) }}">{{ top.user.pseudonym }}</a>
												{% if "SHINY_WINNER" in top.user.roles %}
													<img class="top-badge" src="{{ asset('medias/images/items/key-stone.png') }}" alt="Vainqueur du mois pour les Shinys" title="Vainqueur du mois pour les Shinys Pokemon-Station">
												{% endif %}
												{% if "POINT_WINNER" in top.user.roles %}
													<img class="top-badge" src="{{ asset('medias/images/items/dragon-gem.png') }}" alt="Vainqueur du mois pour les points" title="Vainqueur du mois pour les points Pokemon-Station">
												{% endif %}
										</td>
										<td class="text-center">{{ top.total_points }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="carousel-item">
						<div class="top-div w-100">
							<h3 class="profile-title text-white">Top Shiny du Mois</h3>
							<div class="top-info-div">
								<p class="top-info">Ceux ayant libérés le plus de shiny</p>
								<div class="countdown"></div>
							</div>
							<table class="table-pokedex">
								<thead class="thead-top10">
								<tr>
									<th class="empty-th"></th>
									<th class="text-center" scope="col">Pseudo</th>
									<th class="text-center" scope="col">Shinies</th>
								</tr>
								</thead>
								<tbody>
								{% for top in topMonthlyShinies %}
									<tr class="pokedex-top-10">
										<td class="empty-td text-center">{{ top.rank }}</td>
										<td class="text-center">
											<a href="{{ path('app_user_showprofile', { pseudonym : top.user.pseudonym }) }}">{{ top.user.pseudonym }}</a>
											{% if "SHINY_WINNER" in top.user.roles %}
												<img class="top-badge" src="{{ asset('medias/images/items/key-stone.png') }}" alt="Vainqueur du mois pour les Shinys" title="Vainqueur du mois pour les Shinys Pokemon-Station">
											{% endif %}
											{% if "POINT_WINNER" in top.user.roles %}
												<img class="top-badge" src="{{ asset('medias/images/items/dragon-gem.png') }}" alt="Vainqueur du mois pour les points" title="Vainqueur du mois pour les points Pokemon-Station">
											{% endif %}
										</td>
										<td class="text-center">{{ top.monthly_shinies }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</section>


	</div>


</div>


{% endblock %}


{% block js %}
	<script>
		const readUrl = '{{ asset('medias/images/elements/read.png') }}'
	</script>
	<script type="module" src="{{ asset('js/home.js') }}"></script>
	
{% endblock %}

