{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


{#     Première partie de la page d'accueil, avec Sacha et Pikachu  #}
<div class="container-fluid project-contain">

	<h2 class="accueil">Bienvenue dresseur!</h2>

	<section class="concept d-flex flex-column flex-lg-row align-items-center">
		<img class="poke-bg" src="{{ asset('medias/images/background/pokeball-bg.png') }}" alt="Fond pokeball">
		<div class="home-image-div">
			<img src="{{ asset('medias/images/poke-perso/025.gif') }}" alt="Gif de Pikachu" class="pika-home">
			<img class="img-fluid chen" src="{{ asset('medias/images/elements/Professeur-Chen.png') }}" alt="Professeur Chen">
			<img class="img-fluid chen-shadow" src="{{ asset('medias/images/background/Shadow.png') }}" alt="">
			<img src="{{ asset('medias/images/poke-perso/017.gif') }}" alt="Gif de Roucoups" class="roucoups-home">
		</div>

		<div class="concept-div">
			<p class="concept-text">PokemonStation est un projet personnel basé sur le "gacha" vous permettant de libérer des Pokémons de manière aléatoire. Le but étant de remplir son pokédex ! Vous obtenez deux lancers par heures, avec un maximum de 100 cumulables en même temps.
				<br>
				Si vous obtenez des doublons, pas d'inquiétudes, vous recevrez des pièces vous permettant d'acheter de nouveaux lancers spéciaux.
				<br>
				Amusez vous bien!
			</p>

			<div class="etapes d-flex justify-content-center align-items-center">
				<div class="home-1">
					<p>Libérez !</p>
					<img src="{{ asset('medias/images/balls/poke-ball.png') }}" alt="">
				</div>

				<img class="arrow-home" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">

				<div class="home-2">
					<p>Achetez !</p>
					<img src="{{ asset('medias/images/elements/coin-resized.png') }}" alt="">
				</div>

				<img class="arrow-home" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">

				<div class="home-3">
					<p>Completez !</p>
					<img src="{{ asset('medias/images/items/poke-radar.png') }}" alt="">
				</div>
			</div>
		</div>
	</section>


	<div class="d-flex flex-column flex-lg-row second-part">
		<section class="news-section col-12 col-lg-6">
			<h3>Les news :</h3>
			<div class="news-div">

				{% for news in allNews %}
					<div class="single-new">

						<div class="news-date">Le {{ news.creationDate|date('Y/m/d') }} à {{ news.creationDate|date('H:m') }}</div>

						<h4 class="news-title">{{ news.title }}</h4>
						<br>
						<div class="news-body">{{ news.body|raw }}</div>

						<div class="author">{{ news.author|capitalize }}</div>

					</div>


				{% endfor %}




			</div>

		</section>

		<section class="top-section col-12 col-lg-6">

			<div class="top-div w-100">
				<h3 class="profile-title text-white">Top 10</h3>
				<table class="table-pokedex">
					<thead class="thead-top10">
					<tr>
						<th class="empty-th"></th>
						<th class="text-center" scope="col">Pseudo</th>
						<th class="text-center" scope="col">Pokédex</th>
						<th class="text-center" scope="col">Lancers</th>
					</tr>
					</thead>
					<tbody>
					{% for userData in topUserSpeciesSeen %}
						<tr class="pokedex-top-10">
							<td class="empty-td text-center">{{ loop.index }}</td>
							<td class="text-center"><a href="{{ path('app_user_showprofile', { pseudonym : userData.user.pseudonym })}}"> {{ userData.user.pseudonym }}</a> </td>
							<td class="text-center">{{ userData.total_species_seen }}/{{ pokedexSize }}</td>
							<td class="text-center">{{ userData.launch_count }} </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</div>


</div>


{% endblock %}


{% block js %}

	<script src="{{ asset('js/home.js') }}"></script>
	
{% endblock %}

