{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}
{% trans_default_domain 'generations' %}

{% block body %}

<div class="main-block">
	<div class="poke-list container-fluid col-lg-4">
		<div class="list row">
			<div class="ul-list pokedex-nav">

				{% for generation, pokemons in generations %}

					<ul class="col-12">
						<div class="gen-{{ generation }}-button gen">
							<span class="gen-title">{{ generation|trans }}</span> <br>
							<span id="activeCountG1"></span>{{ pokemons|filter(p => p.captured)|length }}/{{ pokemons|length }} ||
							<img class="gen-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="">: <span id="shinyG{{ generation }}"></span>{{ pokemons|filter(p => p.shiny)|length }}/{{ pokemons|length }}
							<i class="fa-solid fa-play"> </i>
						</div>

						<div class="pokemons-gen type-none">
							{% for poke in pokemons %}
								{% if poke.captured %}
									<div class="poke-li captured col-12 pokemon-pokedex gen-{{ generation }}" data-pokemon="{{ poke.pokeId }}" >
										{{ poke.name|capitalize }} #{{ poke.pokeId }}
										{% if poke.shiny %}
											<img class="gen-{{ generation }}-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="">
										{% endif %}
									</div>
								{% else %}
									<div class="poke-li col-12 not-captured gen-{{ generation }}">???</div>
								{% endif %}
							{% endfor %}
						</div>
					</ul>

				{% endfor %}
			</div>
		</div>
	</div>

	{# Div qui englobe toutes les infos du Pokédex (infos du pokémon, son image, son/ses type(s) et sa description)  #}
	<div class="pokedex-background col-12 col-lg-7">

		<div class="pokedex-style-buttons col-10">

			<div class="blue-button-second-border">

				<div class="blue-button">

					<div class="blue-button-reflect"></div>

				</div>

			</div>	
				<div class="mini-buttons">

					<div class="mini-button-second-border">

						<div class="mini-button-red">

							<div class="mini-button-reflect"></div>

						</div>

					</div>	

					<div class="mini-button-second-border">

						<div class="mini-button-yellow">

							<div class="mini-button-reflect"></div>

						</div>

					</div>

					<div class="mini-button-second-border">

						<div class="mini-button-green">

							<div class="mini-button-reflect"></div>

						</div>

					</div>	
				
				</div>
			
			</div>

		<div class="pokedex-pic-and-description col-lg-10">

			<div class="pokedex col-lg-12">

				{# Container des infos Pokémon (nom, nom-en et numéro Pokédex) ainsi que l'image GIF du pokémon  #}
				<div class="poke-info-pic d-flex flex-column justify-content-center align-items-center col-lg-12">

					<div
						class="row col-12 poke-name">
						{# Infos du nom, du nom-en et du numéro Pokémon  #}
						<div class="poke-info d-flex flex-row justify-content-center align-items-center">

							<div class="info col-12 col-lg-12 d-flex flex-row justify-content-center align-items-center">

								<div class="info-tile-1 col-4">

									<p class="firstName"></p>

								</div>

								<div class="info-tile-2 col-4">

									<p class="secondName"></p>

								</div>

								<div class="info-tile-3 col-4">

									<p class="thirdName"></p>

								</div>

							</div>

						</div>

					</div>
					{# Image Pokémon  #}
					<div class="pokemon col-12 col-lg-10">

						

						<div class="column pokepic col-12 ">

								<div class="fond taille-fond"></div>
								<img class="poke-gif" src="{{ asset('medias/images/sparkle/invisible-sparkle.gif') }}" alt="Pokémon">

							<button class="shiny-button-mobile type-none">

								<img src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt="shiny-logo">
							
							</button>

							<div class="overlay">

								<p>PAUSE</p>

							</div>

						</div>

					</div>

				</div>	

			</div>
			
		
			{# Container du/des types, et de la description du Pokémon  #}
			<div class="container-fluid digital col-12 col-lg-8">

				{# h3 avec le titre "Type"  #}
				<div class="row type-h3 col-12">

					<h3>Type(s)</h3>

				</div>

				{# Div qui contient les logos avec les types des Pokémon  #}
				<div class="row type col-12 d-flex flex-row justify-content-evenly">

					<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img type1" src="{{ asset('medias/images/types/Normal.png') }}" alt="Type"></a>

					<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img type2" src="{{ asset('medias/images/types/Normal.png') }}" alt="Type"></a>

				</div>

				{# Div qui contient le contenu de la description du Pokémon  #}
				<div class="row description col-12">

					<h3>Description</h3>

					<p></p>

				</div>

			</div>

		</div>

		{# Div qui contient toute l'interface "gameboy" avec la croix et les boutons  #}
		<div class="col-lg-12 gameboy">

			{# Image de la croix directionnelle  #}
			<img class="col-lg-4" src="{{ asset('medias/images/elements/Cross.png') }}" alt="Croix de Gameboy">

			{# Div qui contient les boutons start et select du milieu (affichés uniquement en écran large)  #}
			<div class="start-select-buttons col-lg-4">

				<button class="select"></button>

				<button class="start"></button>

			</div>

			{# Div qui contient les boutons B et A comme sur gameboy  #}
			<div class="gameboy-buttons col-lg-4">

				<button class="gb-button-b">
					<p class="a-b">B</p>
				</button>

				<button class="gb-button-a">
					<p class="a-b">A</p>
				</button>

			</div>

		</div>

	</div>

</div>

{% endblock %}
{% block js %}

	<script>
		const pokedexPageApi = '{{ url('app_pokedex_api') }}';
		const pokemonsGifDir = '{{ asset('medias/images/gifs') }}';
		window.pokemonBackground = 'forest2-background';
		const pokemonsTypeDir = '{{ asset('medias/images/types/') }}';

	</script>

	<script src="{{ asset('js/pokedex.js') }}"></script>
	
{% endblock %}

