{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}
{% trans_default_domain 'generations' %}

{% block body %}

<div class="main-block">
	<section class="poke-list container-fluid col-12 col-lg-4">
		<div class="list row pokedex-block">

			<label for="generations"></label>
			<select class="select-gen" name="generations" id="generations">
				{% for generation in generations %}
					<option class="genOption" value="{{ generation.genNumber }}">{{ generation.genNumber|trans }}
				{% endfor %}
			</select>

			<div class="gen-content active">
				<div>Pokédex :<span id="pokedexCounter"></span></div>
				<div>
					<span class="shinydex">ShinyDex :</span>
					<span><span id="shinydexCounter"><img class="gen-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt=""></span></span>
				</div>
			</div>

			<label for="search"></label>
			<input class="w-100" id="pokedexSearch" type="text" placeholder="Chercher un Pokémon" data-search="data-search">
			<template id="pokemonCapturedTpl">
				<div class="poke-li captured pokemon-pokedex"></div>
			</template>
			<template id="pokemonNotCapturedTpl">
				<div class="poke-li not-captured">???</div>
			</template>
			<template id="shinyImgTpl">
				<img src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="étoile brillante de pokemon chromatique">
			</template>
			<div id="pokemonsContainer" class="pokedex-nav w-100"></div>
		</div>
	</section>

	<section class="pokedex-view col-12 col-lg-8">

		<div class="main-pokedex">
			<div class="speaker speaker-1">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>
			<div id="pokedexMain" class="pokedex-pokemon">
				<div class="pokedex-name">
					<p id="pokemonName"></p>
				</div>
				<div class="btn-dex-container volume-dex-container">
					<div class="d-none english-name"></div>
					<button class="btn-dex btn-volume volume">
						<img class="active sound soundOn" src="{{ asset('medias/images/elements/volume.up.png') }}" alt="Activer le son">
						<img class="type-none sound soundOff" src="{{ asset('medias/images/elements/volume.off.png') }}" alt="Désactiver le son">
					</button>
					<button id="btnCry" class="btn-dex btn-volume volume">
						<img src="{{ asset('medias/images/elements/play-arrow.png') }}" alt="">
					</button>
				</div>
				<div class="btn-dex-container shiny-dex-container">
					<button class="btn-dex btn-shiny" id="shinyBtn">
						<img src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt="">
					</button>
				</div>

				<div class="pokedex-types">
					<a href="{{ path('app_types') }}" class="type-img-a"><img id="pokemonType" class="type-img type1 d-none" src="" data-src="{{ asset('medias/images/types/') }}" alt="Type"></a>
					<a href="{{ path('app_types') }}" class="type-img-a"><img id="pokemonType2" class="type-img type2 d-none" src="" data-src="{{ asset('medias/images/types/') }}" alt="Type secondaire"></a>
				</div>
				<div class="pokedex-image"><img id="pokemonGif" src="" data-src="{{ asset('medias/images/gifs/') }}" alt=""></div>
				<div class="pokedex-descritpion">
					<p id="pokemonDescription"></p>
				</div>
			</div>
			<div class="speaker speaker-2">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>

			<div class="pokedex-bottom">
				<div class="dpad">
					<button class="dpad-button up">▲</button>
					<button class="dpad-button left">◀</button>
					<button class="dpad-button right">▶</button>
					<button class="dpad-button down">▼</button>
					<div class="middle"></div>
				</div>
				<div class="alt-div">
					<div id="pokedexAltContainer" class="alt-forms">
						<img src="{{ asset('medias/images/elements/arrow.png') }}" alt="" class="arrow-left-dex d-none">
						<img src="{{ asset('medias/images/elements/arrow.png') }}" alt="" class="arrow-right-dex d-none">
					</div>
				</div>

				<template id="pokedexAltCaptured">
					<div class="alt"><img src="{{ asset('medias/images/gifs/pokemon.gif') }}" alt=""></div>
				</template>
				<template id="pokedexAltNotCaptured">
					<div class="alt"><span>?</span></div>
				</template>

				<div class="gameboy-buttons">
					<button class="gb-button-b a-b">B</button>
					<button class="gb-button-a a-b">A</button>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
{% block js %}

	<script>
		const baseUrl = '{{ url('app_home') }}';
		const pokemonsGifDir = '{{ asset('medias/images/gifs') }}';
		const pokemonsTypeDir = '{{ asset('medias/images/types/') }}';
		const crySound = '{{ asset('medias/cries/') }}'
	</script>

	<script type="module" src="{{ asset('js/pokedex.js') }}?version=1.0"></script>

{% endblock %}

