{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}
{% trans_default_domain 'generations' %}

{% block body %}

<div class="main-block">
	<section class="poke-list container-fluid col-12 col-lg-4">
		<div class="list row pokedex-block">

			<label for="generations"></label>
			<select class="select-gen" name="generations" id="generations">
				{% for generation in generations %}
					<option class="genOption" value="{{ generation.genNumber }}">{{ generation.genNumber|trans }}
				{% endfor %}
			</select>

			{% set captureCount = 0 %}
			{% set shinyCount = 0 %}

			{% for p in pokemons %}

				{% if p.captured is defined and p.captured %}
					{% set captureCount = captureCount + 1 %}
				{% endif %}
				{% for pr in p.relatedPokemon %}
					{% if pr.captured is defined and pr.captured %}
						{% set captureCount = captureCount + 1 %}
					{% endif %}
				{% endfor %}
				{% if p.shiny is defined and p.shiny %}
					{% set shinyCount = shinyCount + 1 %}
				{% endif %}
				{% for pr in p.relatedPokemon %}
					{% if pr.shiny is defined and pr.shiny %}
						{% set shinyCount = shinyCount + 1 %}
					{% endif %}
				{% endfor %}
			{% endfor %}

			<div class="gen-content content-{{ currentGeneration.genNumber }} active">
				<div>Pokédex :<span id="pokedexCounter">{{ captureCount }} sur {{ pokemons|length }}</span></div>
				<div>
					<span class="shinydex">ShinyDex :</span>
					<span><span id="shinydexCounter">{{ shinyCount }} sur {{ pokemons|length }}<img class="gen-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt=""></span></span>
				</div>
			</div>

			<label for="search"></label>
			<input class="w-100" id="pokedexSearch" type="text" placeholder="Chercher un Pokémon" data-search="data-search">
			<template id="pokemonCapturedTpl">
				<div class="poke-li captured pokemon-pokedex"></div>
			</template>
			<template id="pokemonNotCapturedTpl">
				<div class="poke-li not-captured">???</div>
			</template>
			<template id="shinyImgTpl">
				<img src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="étoile brillante de pokemon chromatique">
			</template>
			<div id="pokemonsContainer" class="pokedex-nav w-100">
				{% for pokemon in pokemons %}
					{% if pokemon.captured or pokemon.altCaptured %}
						<div class="poke-li captured pokemon-pokedex" data-pokemon="{{ pokemon.pokeId }}" >
							{{- pokemon.name|capitalize }} #{{ pokemon.pokeId -}}
							{% if pokemon.shiny or pokemon.altShiny %}
								<img src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="étoile brillante de pokemon chromatique">
							{% endif %}
						</div>
					{% else %}
						<div class="poke-li not-captured">???</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="pokedex-view col-12 col-lg-8">
		{% set currentPokemon = pokemons|find(p => p.captured or p.altCaptured) %}
		{% if currentPokemon.captured == false and currentPokemon.altCaptured == true %}
			{% set basePokemon = currentPokemon %}
			{% set currentPokemon = currentPokemon.relatedPokemon|find(pr => pr.captured is defined and pr.captured) %}
		{% endif %}
		<div class="main-pokedex">
			<div class="speaker speaker-1">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>
			<div id="pokedexMain" class="pokedex-pokemon" style="background-image: url({{ asset('medias/images/fonds/' ~ currentPokemon.type  ~ '.png') }})">
				<div class="pokedex-shine"></div>
				<div class="pokedex-name">
					<p id="pokemonName">{{ currentPokemon.name|capitalize }}</p>
				</div>
				{% if currentPokemon.shiny %}
					<button class="button-shiny"><img src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt="étoile brillante de pokemon chromatique"></button>
				{% endif %}
				<div class="pokedex-types">
					<a href="{{ path('app_types') }}" class="type-img-a"><img id="pokemonType" class="type-img type1" src="{{ asset('medias/images/types/' ~ currentPokemon.type) ~ '.png' }}" alt="Type"></a>
					<a href="{{ path('app_types') }}" class="type-img-a"><img id="pokemonType2" class="type-img type2 {{ currentPokemon.type2 ? null : 'd-none' }}" src="{{ asset('medias/images/types/' ~ currentPokemon.type2) ~ '.png' }}" alt="Type secondaire"></a>
				</div>
				<div class="pokedex-shine"></div>
				<div class="pokedex-image"><img id="pokemonGif" src="{{ asset('medias/images/gifs/' ~ currentPokemon.name_en ~ '.gif') }}" alt=""></div>
				<div class="pokedex-descritpion">
					<p id="pokemonDescription">{{ currentPokemon.description }}</p>
				</div>
			</div>
			<div class="speaker speaker-2">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>

			<img class="cross" src="{{ asset('medias/images/elements/Cross.png') }}" alt="Croix directionnelle">

			<div id="pokedexAltContainer" class="alt-forms">
				{% if currentPokemon.altForm %}
					{% if baseForm.captured is defined and baseForm.captured %}
						<div class="alt alt-captured" data-pokemon-alt-captured="{{ baseForm.pokeId }}"><img src="{{ asset('medias/images/gifs/' ~ baseForm.name_en ~ '.gif') }}" alt=""></div>
					{% else %}
						<div class="alt"><span>?</span></div>
					{% endif %}
					{% for altForm in basePokemon.relatedPokemon %}
						{% if altForm.id != currentPokemon.id %}
							{% if altForm.captured is defined and altForm.captured %}
								<div class="alt alt-captured" data-pokemon-alt-captured="{{ altForm.pokeId }}"><img src="{{ asset('medias/images/gifs/' ~ altForm.name_en ~ '.gif') }}" alt=""></div>
							{% else %}
								<div class="alt"><span>?</span></div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% else %}
					{% for altForm in currentPokemon.relatedPokemon %}
						{% if altForm.captured is defined and altForm.captured %}
							<div class="alt alt-captured" data-pokemon-alt-captured="{{ altForm.pokeId }}"><img src="{{ asset('medias/images/gifs/' ~ altForm.name_en ~ '.gif') }}" alt=""></div>
						{% else %}
							<div class="alt"><span>?</span></div>
						{% endif %}
					{% endfor %}
				{% endif %}

			</div>

			<template id="pokedexAltCaptured">
				<div class="alt"><img src="{{ asset('medias/images/gifs/pokemon.gif') }}" alt=""></div>
			</template>
			<template id="pokedexAltNotCaptured">
				<div class="alt"><span>?</span></div>
			</template>

			<div class="gameboy-buttons">

				<button class="gb-button-b">
					<p class="a-b">B</p>
				</button>

				<button class="gb-button-a">
					<p class="a-b">A</p>
				</button>
			</div>
		</div>
	</section>
</div>

{% endblock %}
{% block js %}

	<script>
		const baseUrl = '{{ url('app_home') }}';
		const pokemonsGifDir = '{{ asset('medias/images/gifs') }}';
		const pokemonsTypeDir = '{{ asset('medias/images/types/') }}';

	</script>

	<script src="{{ asset('js/pokedex.js') }}"></script>
	
{% endblock %}

