{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}
{% trans_default_domain 'generations' %}

{% block body %}

<div class="main-block">
	<section class="poke-list container-fluid col-12 col-lg-4">
		<div class="list row pokedex-block">

			<label for="generations"></label>
			<select class="select-gen" name="generations" id="generations">
				{% for generation in generations %}
					<option class="genOption" value="{{ generation.genNumber }}">{{ generation.genNumber|trans }}
				{% endfor %}
			</select>

			<div class="gen-content content-{{ currentGeneration.genNumber }} active">
				<div>Pokédex :<span id="pokedexCounter">{{ pokemons|filter(p => p.captured)|length }} sur {{ pokemons|length }}</span></div>
				<div>
					<span class="shinydex">ShinyDex :</span>
					<span><span id="shinydexCounter">{{ pokemons|filter(p => p.shiny)|length }} sur {{ pokemons|length }}<img class="gen-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt=""></span></span>
				</div>
			</div>

			<label for="search"></label>
			<input class="w-100" id="pokedexSearch" type="text" placeholder="Chercher un Pokémon" data-search="data-search">
			<template id="pokemonCapturedTpl">
				<div class="poke-li captured pokemon-pokedex"></div>
			</template>
			<template id="pokemonNotCapturedTpl">
				<div class="poke-li not-captured">???</div>
			</template>
			<template id="shinyImgTpl">
				<img src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="étoile brillante de pokemon chromatique">
			</template>
			<div id="pokemonsContainer" class="pokedex-nav w-100">
				{% for pokemon in pokemons %}
					{% if pokemon.captured %}
						<div class="poke-li captured pokemon-pokedex" data-pokemon="{{ pokemon.pokeId }}" >
							{{- pokemon.name|capitalize }} #{{ pokemon.pokeId -}}
							{% if pokemon.shiny %}
								<img src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="étoile brillante de pokemon chromatique">
							{% endif %}
						</div>
					{% else %}
						<div class="poke-li not-captured">???</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="pokedex-view col-12 col-lg-8">
		<div class="main-pokedex">
			<div class="speaker speaker-1">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>
			<div class="pokedex-pokemon">
				<div class="pokedex-shine"></div>
				<div class="pokedex-name">
					<p>Dracaufeu</p>
				</div>
				<button class="button-shiny"><img src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt=""></button>
				<div class="pokedex-types">
					<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img type1" src="{{ asset('medias/images/types/Fire.png') }}" alt="Type"></a>

					<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img type2" src="{{ asset('medias/images/types/Flying.png') }}" alt="Type"></a>
				</div>
				<div class="pokedex-shine"></div>
				<div class="pokedex-image"><img src="{{ asset('medias/images/gifs/charizard.gif') }}" alt=""></div>
				<div class="pokedex-descritpion">
					<p>Un Pokémon très loyal. Il restera immobile jusqu’à ce que son Dresseur lui donne un ordre.</p>
				</div>
			</div>
			<div class="speaker speaker-2">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>


			<img class="cross" src="{{ asset('medias/images/elements/Cross.png') }}" alt="Croix directionnelle">
			
			<div class="alt-forms">
				<div class="alt"><img src="{{ asset('medias/images/gifs/charizard-gmax.gif') }}" alt=""></div>
				<div class="alt"><img src="{{ asset('medias/images/gifs/charizard-mega-x.gif') }}" alt=""></div>
				<div class="alt"><span>?</span></div>
			</div>

			<div class="gameboy-buttons">

				<button class="gb-button-b">
					<p class="a-b">B</p>
				</button>

				<button class="gb-button-a">
					<p class="a-b">A</p>
				</button>
			</div>
		</div>
	</section>
</div>

{% endblock %}
{% block js %}

	<script>
		const baseUrl = '{{ url('app_home') }}';
		const pokedexPageApi = '{{ url('app_pokedex_api') }}';
		const pokemonsGifDir = '{{ asset('medias/images/gifs') }}';
		window.pokemonBackground = 'forest2-background';
		const pokemonsTypeDir = '{{ asset('medias/images/types/') }}';

	</script>

	<script src="{{ asset('js/pokedex.js') }}"></script>
	
{% endblock %}

