{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}
{% trans_default_domain 'generations' %}

{% block body %}

<div class="main-block">
	<div class="poke-list container-fluid col-lg-4">
		<div class="list row pokedex-block">

			<label for="generations"></label>
			<select class="select-gen" name="generations" id="generations">
				{% for generation in generations %}
					<option class="genOption" value="{{ generation.genNumber }}">{{ generation.genNumber|trans }}
				{% endfor %}
			</select>

			<div class="gen-content content-{{ currentGeneration.genNumber }} active">
				<div>
					<span id="activeCountG1">Pokédex :</span>
					{{- pokemonsCaptured|filter(p => p.gen.id == currentGeneration.id and p.relateTo is same as null)|length }}
						sur
						{{ currentGeneration.pokemon|filter(p => p.relateTo is same as null)|length -}}
				</div>
				<div>
					<span class="shinydex" id="shinyG{{ currentGeneration.genNumber }}">ShinyDex :</span>
					<span>
						{{- pokemonShiniesCaptured|filter(p => p.gen.id == currentGeneration.id and p.relateTo is same as null)|length }}
							sur
						{{ currentGeneration.pokemon|filter(p => p.relateTo is same as null)|length -}}
						<img class="gen-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="">
					</span>
				</div>
			</div>

			<label for="search"></label>
			<input class="search" id="search" type="text" placeholder="Chercher un Pokémon">
			<div class="ul-list pokedex-nav">
				<ul class="col-12">
					<li class="pokemons-gen active">
						{% for poke in pokemons %}
							{% if poke in pokemonsCaptured or poke in pokemonShiniesCaptured or poke in formBase%}
								<div class="poke-li captured col-12 pokemon-pokedex gen-{{ poke.gen.id }}" data-pokemon="{{ poke.pokeId }}" >
										{{ poke.name|capitalize }} #{{ poke.pokeId }}
										{% if poke in pokemonShiniesCaptured %}
											<img class="gen-{{ poke.gen.id }}-shiny" src="{{ asset('medias/images/sparkle/shinyOK.png') }}" alt="">
										{% endif %}
									</div>
							{% else %}
								<div class="poke-li col-12 not-captured gen-{{ poke.gen.id }}">???</div>
							{% endif %}
						{% endfor %}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<section class="pokedex-view col-lg-8">
		<div class="main-pokedex">
			<div class="speaker speaker-1">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>
			<div class="pokedex-pokemon">
				<div class="pokedex-shine"></div>
				<div class="pokedex-name">
					<p>Dracaufeu</p>
				</div>
				<button class="button-shiny"><img src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt=""></button>
				<div class="pokedex-types">
					<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img type1" src="{{ asset('medias/images/types/Fire.png') }}" alt="Type"></a>

					<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img type2" src="{{ asset('medias/images/types/Flying.png') }}" alt="Type"></a>
				</div>
				<div class="pokedex-shine"></div>
				<div class="pokedex-image"><img src="{{ asset('medias/images/gifs/charizard.gif') }}" alt=""></div>
				<div class="pokedex-descritpion">
					<p>Un Pokémon très loyal. Il restera immobile jusqu’à ce que son Dresseur lui donne un ordre.</p>
				</div>
			</div>
			<div class="speaker speaker-2">
				<!-- Les points -->
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>


			<img class="cross" src="{{ asset('medias/images/elements/Cross.png') }}" alt="Croix directionnelle">
			
			<div class="alt-forms">
				<div class="alt"><img src="{{ asset('medias/images/gifs/charizard-gmax.gif') }}" alt=""></div>
				<div class="alt"><img src="{{ asset('medias/images/gifs/charizard-mega-x.gif') }}" alt=""></div>
				<div class="alt"><span>?</span></div>
			</div>

			<div class="gameboy-buttons">

				<button class="gb-button-b">
					<p class="a-b">B</p>
				</button>

				<button class="gb-button-a">
					<p class="a-b">A</p>
				</button>
			</div>
		</div>

	</section>
</div>

{% endblock %}
{% block js %}

	<script>
		const pokedexPageApi = '{{ url('app_pokedex_api') }}';
		const pokemonsGifDir = '{{ asset('medias/images/gifs') }}';
		window.pokemonBackground = 'forest2-background';
		const pokemonsTypeDir = '{{ asset('medias/images/types/') }}';

	</script>

	<script src="{{ asset('js/pokedex.js') }}"></script>
	
{% endblock %}

