{% extends "base.html.twig" %}

{% block title %}Gestion du profil{% endblock %}

{% block body %}
	<div class="background">
		<h1 class="profile-title text-center my-5">Mon profil</h1>
			<!-- Statistiques -->
			<section class="justify-content-between align-items-stretch mb-5">
				<div class="profile-container">
					<h2 class="profile-title">Statistiques</h2>
					<ul class="list-group col-12 col-lg-12 text-center" id="utilisateur">
						<li class="list-group-item">Pokémons libérés :
							<span class="text-info">{{ app.user.launchCount }}</span>
						</li>
						<li class="list-group-item"><img src="{{ asset('medias/images/elements/tr.png') }}" alt="">
							<span class="text-info">{{ nbTR }}</span>
						</li>
						<li class="list-group-item"><img src="{{ asset('medias/images/elements/EX.png') }}" alt="">
							<span class="text-info">{{ nbEX }}</span>
						</li>
						<li class="list-group-item"><img src="{{ asset('medias/images/elements/SR.png') }}" alt="">
							<span class="text-info">{{ nbSR }}</span>
						</li>
						<li class="list-group-item"><img src="{{ asset('medias/images/elements/UR.png') }}" alt="">
							<span class="text-info">{{ nbUR }}</span>
						</li>
						<li class="list-group-item">Shiny obtenus :
							<span class="text-info">{{ nbShiny }}</span>
						</li>
						<li class="list-group-item">Pokédex rempli à {{ nbPokemonUnique }}/{{ pokedexSize }}</li>
					</ul>
				</div>
			</section>

		<section class="avatar-section d-flex justify-content-center align-items-center flex-column">
			<div class="justify-content-center avatar">
				<img src="{{ asset('medias/images/trainers/' ~ app.user.avatar ~'.gif') }}" class="d-block trainer-gif" alt="Photo de profil de l'utilisateur">
			</div>

			<div class="select-character text-center text-white">
				<button id="myBtn" class="select-character-button">Modifier mon avatar</button>
			</div>
		</section>


		<div id="myModal" class="modal">
			<span class="close">&times;</span>
			<div class="modal-content">
				<h3 class="text-center text-white mt-4">Selectionnez un avatar</h3>
				<div class="modal-avatar">
					{% for avatar in avatars %}
						<div class="modal-solo">
							<img src="{{ asset('medias/images/trainers/' ~ avatar ~'.gif') }}" class="d-block" alt="..." data-avatar="{{ avatar }}">
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="profile-container d-flex flex-column justify-content-between a mx-2 col-12 col-lg-4">
			<div>
				<h2 class="profile-title">Informations du compte</h2>
				<ul class="list-group col-12 col-lg-12" id="compte">
					<li class="list-group-item">Pseudo :
						<span class="text-info">{{ app.user.pseudonym }}</span>
					</li>
					<li class="list-group-item">Adresse E-mail :
						<span class="text-info">{{ app.user.email }}</span>
					</li>
					<li class="list-group-item">Début de l'aventure :
						<span class="text-info">{{ app.user.creationDate|date('d/m/Y')}}</span>
					</li>
					<li class="list-group-item">Compte :
						<span class="text-info">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</span>
					</li>
				</ul>
			</div>

			<div class="modify-info">
				<button class="modify-button">
					<a href="{{ path('app_profil-modify') }}" class="modify-button-link">
						<img src="{{ asset('medias/images/elements/PokeBall.png') }}" alt="Poke Ball" width="50px"> Modifier
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</button>
			</div>



			<!-- Colonne Amis -->
			<div class="profile-container d-flex flex-column justify-content-between mx-2 col-12 col-lg-4">
				<div>
					<h2 class="profile-title">Liste d'ami(es)</h2>
					<table class="table-pokedex">
						<thead class="thead-top10">
						<tr>
							<th class="text-center">Pseudo</th>
							<th class="text-center">Statut</th>
							<th class="text-center">Date de l'ajout</th>
						</tr>
						</thead>
						<tbody>
						{% for friend in user.friendships %}
							<tr class="pokedex-top-10">
								<td class="text-center">
									<a href="{{ path('app_user_showprofile', { pseudonym : friend.friendB.pseudonym }) }}">
										{{ friend.friendB.pseudonym }}
									</a>
								</td>
								<td class="text-center">{{ friend.isAccepted }}</td>
								<td class="text-center">{{ friend.createdAt|date('d/m/y') }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="modify-info">
					<button class="modify-button">
						<a href="{{ path('app_friendship') }}" class="modify-button-link">
							<img src="{{ asset('medias/images/elements/PokeBall.png') }}" alt="Poke Ball" width="50px">
							Ajouter
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script>
		const profilPageApi = '{{ url('app_profil_api') }}';
		const avatar = '{{ user.avatar }}';
	</script>
	<script src="{{ asset('js/profil.js') }}"></script>
{% endblock %}
