{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.pseudonym }}
{% endblock %}

{% block body %}
<main>
    <h1 class="profile-title text-center my-5 text-white">Profil de {{ user.pseudonym }}</h1>
    <section class="d-flex justify-content-center my-5">
        <div class="flip-card">
            <div class="trainer-card">
                <img class="card-bg" src="{{ asset('medias/images/elements/ball-icon.png') }}" alt="">
                <div class="main-card">
                    <img class="click" src="{{ asset('medias/images/elements/click.png') }}" alt="">
                    <div class="main-card-info">
                        <h2><img class="card-ball-front" src="{{ asset('medias/images/elements/ball-icon.png') }}" alt=""> Carte de dresseur <img class="card-ball-front" src="{{ asset('medias/images/elements/ball-icon.png') }}" alt=""></h2>
                        <div class="card-id-name">
                            <div class="light-blue">
                                <span>N° ID</span>
                                <span>{{ user.id }}</span>
                            </div>
                            <div class="light-blue">
                                <span>NOM</span>
                                <span>{{ user.pseudonym }}</span>
                            </div>
                        </div>

                        <div class="card-money light-blue">
                            <span>ARGENT</span>
                            <span class="d-flex align-items-center">{{ user.money }} <img class="coin-width-3" src="{{ asset('medias/images/elements/coin-resized.png') }}" alt=""></span>
                        </div>

                        <div class="card-dex light-blue">
                            <span>POKEDEX</span>
                            <span>{{ pokedexUser }}</span>
                        </div>

                        <div class="card-certif light-blue">
                            <span>STATUT</span>
                            <span>CERTIFIE</span>
                        </div>
                    </div>
                    <div class="card-avatar">
                        <div class="card-image light-blue">
                            <img src="{{ asset('medias/images/trainers/' ~ user.avatar ~'.gif') }}" class="skibibop" alt="Avatar de profil de l'utilisateur">
                        </div>
                        <p id="myBtn" class="modify-avatar">Modifier <img  src="{{ asset('medias/images/elements/edit.png') }}" alt="Modifier mon avatar"></p>

                    </div>

                </div>

                <div class="card-bottom">

                    <div class="card-time-play light-blue">
                        <span>DEBUT DE L'AVENTURE</span>
                        <span>{{ user.creationDate|date('d M. Y', 'Europe/Paris') }}</span>
                    </div>

                    <div class="card-friends light-blue">
                        <span>NOMBRE D'AMIS</span>
                        <span>{{ user.friendships|length }}</span>
                    </div>
                </div>
            </div>

            <div class="back-card">
                <img class="card-bg-2" src="{{ asset('medias/images/elements/ball-icon.png') }}" alt="">

                <h3 class="back-card-title">Statistiques</h3>
                <div class="back-card-container">

                    <div class="back-card-1">
                        <table class="stats-table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Uniq</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% set rs = ['TR', 'EX', 'UR', 'SR'] %}

                            {% for stat in rarityStats %}

                                <tr class="tr-{{ stat.rarity }} tr-stats">

                                    {% if stat.rarity in rs %}
                                        <td><img class="stats-img" src="{{ asset('medias/images/elements/' ~ stat.rarity ~ '.png') }}" alt="{{ stat.rarity }}">
                                        </td>
                                    {% else %}
                                        <td>{{ stat.rarity }}</td>
                                    {% endif %}
                                    <td>{{ stat.total_unique }}</td>
                                    <td>{{ stat.total_captured }}</td>
                                </tr>

                            {% endfor %}


                            <tr class="tr-shiny">
                                <td>Shiny</td>
                                <td>{{ shinyStats[0].total_unique }}</td>
                                <td>{{ shinyStats[0].total_captured }}</td>
                            </tr>


                            </tbody>

                        </table>


                        <div class="total-stats">
                            Pokédex Total : {{ pokedexUser }} / {{ pokedexSize }}
                        </div>
                    </div>

                    <div class="gen-stats">

                        <table class="gen-table">
                            <thead>
                            <tr>
                                <th>Région:</th>
                                <th>Pokedex: </th>
                                <th>Complet:</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gen in allGens %}
                                <tr class="gen-tr">
                                    <td>{{ gen.generation|capitalize }}</td>
                                    <td>{{ gen.gen_captured }} / {{ gen.gen_total }} {% if gen.gen_captured == gen.gen_total %}<img class="gen-image" src="{{ asset('medias/images/elements/mini-star.png') }}" alt=""> {% endif %}</td>
                                    <td>{{ gen.true_gen_captured }} / {{ gen.true_gen_total }} {% if gen.true_gen_captured == gen.true_gen_total %}<img class="gen-image" src="{{ asset('medias/images/elements/mini-star-orange.png') }}" alt=""> {% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </section>
</main>
{% endblock %}
{% block js %}
    <script>
        const profilPageApi = '{{ url('app_profil_api') }}';
        const avatar = '{{ user.avatar }}';
    </script>
    <script src="{{ asset('js/show-profil.js') }}"></script>
{% endblock %}



