{% extends 'base.html.twig' %}

{% block title %}
    Echanger avec {{ user.pseudonym|capitalize }}
{% endblock %}

{% block body %}

    <h1 class="text-center text-white m-5">Echangez vos Pokémons !</h1>

    <div class="main-trade">
        <section class="user-part trade-1">

            <div class="d-flex align-items-center">
                <div class="d-flex flex-column align-items-center ">
                    <h2 class="text-white">{{ app.user.pseudonym|capitalize }}</h2>
                    <img class="mirror-x" src="{{ asset('medias/images/trainers/' ~ app.user.avatar ~ '.gif') }}" alt="">
                </div>

                <div class="not-choosen-trade">
                    <span class="not-1">?</span>
                    {% if trade.pokemonTrade1 %}
                        <img class="d-none choose-1" src="{{ asset('medias/images/gifs/' ~ trade.pokemonTrade1.pokemon.nameEn ~ '.gif') }}" alt="">
                    {% else %}
                        <img class="d-none choose-1" src="" alt="">
                    {% endif %}
                </div>

                <button class="btn-success trade-v"><a href="{{ path('app_trade_update', { trade: trade.id }) }}">Valider</a></button>

            </div>

            <h2 class="trade-title">Vos Pokémons echangables</h2>

            <div class="poke-trade">

                {% for poke in pokeAvailable1 %}
                <div class="main-trade-bubble my-pokemon-trade" data-id="{{ poke.id }}">
                    <div class="poketrade">
                        <p class="trade-name">{{ poke.pokemon.name|title|u.truncate(13, '...') }}</p>
                        <img class="poketrade-gif mirror-x" src="{{ asset('medias/images/gifs/' ~ poke.pokemon.nameEn ~ '.gif') }}" alt="">
                        {% if poke.shiny %} <img class="shiny-trade-symbol" src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt=""> {% endif %}
                    </div>

                    <div class="number-trade">
                        <img class="x-trade" src="{{ asset('medias/images/elements/multiple.png') }}" alt="">

                        {% if poke.shiny is true %}
                            <p class="m-0 yellow-text">{{ poke.quantity }}</p>
                        {% else %}
                            <p class="m-0 yellow-text">{{ poke.quantity - 1 }}</p>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}

            </div>
        </section>
        
        
        <div class="arrow-div my-auto d-flex align-items-center flex-column">
            <div class="d-flex align-items-center">
                <span class="trade-price text-white">0</span>
                <img class="coin-trade" src="{{ asset('medias/images/elements/coin-resized.png') }}" alt="">
            </div>
            <img class="arrow-trade arrow-1" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">
            <img class="arrow-trade arrow-2" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">
        </div>





        <section class="user-part trade-2">

            <div class="d-flex flex-row-reverse align-items-center">
                <div class="d-flex align-items-center flex-column">
                    <h3 class="text-white">{{ user.pseudonym }}</h3>
                    <img src="{{ asset('medias/images/trainers/' ~ user.avatar ~ '.gif') }}" alt="">
                </div>

                <div class="not-choosen-trade">
                    <span class="not-2">?</span>
                    {% if trade.pokemonTrade2 %}
                        <img class="d-none choose-2" src="{{ asset('medias/images/gifs/' ~ trade.pokemonTrade2.pokemon.nameEn ~ '.gif') }}" alt="">
                    {% else %}
                        <img class="d-none choose-2" src="" alt="">
                    {% endif %}
                </div>

            </div>

            <h2 class="trade-title">Les Pokémons de {{ user.pseudonym }}</h2>

            <div class="poke-trade">

                {% for poke2 in pokeAvailable2 %}
                    <div class="main-trade-bubble">
                        <div class="poketrade">
                            <p class="trade-name">{{ poke2.pokemon.name|title|u.truncate(13, '...') }}</p>
                            <img class="poketrade-gif" src="{{ asset('medias/images/gifs/' ~ poke2.pokemon.nameEn ~ '.gif') }}" alt="">
                            {% if poke2.shiny %} <img class="shiny-trade-symbol" src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt=""> {% endif %}
                        </div>

                        <div class="number-trade">
                            <img class="x-trade" src="{{ asset('medias/images/elements/multiple.png') }}" alt="">

                            {% if poke2.shiny is true %}
                                <p class="m-0 yellow-text">{{ poke2.quantity }}</p>
                            {% else %}
                                <p class="m-0 yellow-text">{{ poke2.quantity - 1 }}</p>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}

            </div>

        </section>
    </div>

    {% block js %}
        <script src="http://localhost:4000/socket.io/socket.io.js"></script>
        <script>window.updateUrl = '{{ url('app_trade_update', {trade:trade.id}) }}'</script>
        <script type="module" src="{{ asset('js/trade.js') }}?version=1.0"></script>
    {% endblock %}



{% endblock %}