{% extends 'base.html.twig' %}

{% block title %}
    Echanger avec {{ user.pseudonym|capitalize }}
{% endblock %}

{% block body %}

    {% set userActive = app.user.pseudonym == trade.user1.pseudonym ? trade.user1 : trade.user2 %}

    {% set urlPokemon1 = trade.pokemonTrade1.shiny == true ? 'shiny-' ~ trade.pokemonTrade1.pokemon.nameEn : trade.pokemonTrade1.pokemon.nameEn %}

    {% set urlPokemon2 = trade.pokemonTrade2.shiny == true ? 'shiny-' ~ trade.pokemonTrade2.pokemon.nameEn : trade.pokemonTrade2.pokemon.nameEn %}

    <h1 class="text-center text-white m-5">Echangez vos Pokémons !</h1>

    <div class="main-trade">
        <section class="user-part trade-1">

            <div class="d-flex align-items-center">
                <div class="d-flex flex-column align-items-center ">
                    <h2 class="text-white">{{ app.user.pseudonym|capitalize }}</h2>
                    <img class="mirror-x" src="{{ asset('medias/images/trainers/' ~ app.user.avatar ~ '.gif') }}" alt="">
                </div>


                    {% if userActive == trade.user1 %}
                        {% if trade.pokemonTrade1 is not null %}
                            <div class="select-trade select-trade-1 validate-pokemon">
                                <img class="choose-1" src="{{ asset('medias/images/gifs/' ~ urlPokemon1 ~ '.gif') }}" alt="" data-id="{{ trade.pokemonTrade1.id }}">
                            </div>
                        {% else %}
                            <div class="select-trade select-trade-1">
                                <span class="not-1">?</span>
                                <img class="d-none choose-1" src="" alt="">
                            </div>
                        {% endif %}
                    {% else %}
                        {% if trade.pokemonTrade2 is not null %}
                            <div class="select-trade select-trade-1 validate-pokemon">
                                <img class="choose-1" src="{{ asset('medias/images/gifs/' ~ urlPokemon2 ~ '.gif') }}" alt="" data-id="{{ trade.pokemonTrade2.id }}">
                            </div>
                        {% else %}
                            <div class="select-trade select-trade-1">
                                <span class="not-1">?</span>
                                <img class="d-none choose-1" src="" alt="">
                            </div>
                        {% endif %}
                    {% endif %}

                <button class="btn-success trade-v">Valider</button>

            </div>

            <h2 class="trade-title">Vos Pokémons echangables</h2>

            <div class="poke-trade">

                {% for poke in pokeAvailable1 %}
                <div class="main-trade-bubble my-pokemon-trade" data-id="{{ poke.id }}">
                    <div class="poketrade">
                        <p class="trade-name">{{ poke.pokemon.name|title|u.truncate(13, '...') }}</p>
                        {% set pokeUrl = poke.shiny == true ? 'shiny-' ~ poke.pokemon.nameEn : poke.pokemon.nameEn %}
                        <img class="poketrade-gif mirror-x" src="{{ asset('medias/images/gifs/' ~ pokeUrl ~ '.gif') }}" alt="">
                        {% if poke.shiny %} <img class="shiny-trade-symbol" src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt=""> {% endif %}
                    </div>

                    <div class="number-trade">
                        <img class="x-trade" src="{{ asset('medias/images/elements/multiple.png') }}" alt="">

                        {% if poke.shiny is true %}
                            <p class="m-0 yellow-text">{{ poke.quantity }}</p>
                        {% else %}
                            <p class="m-0 yellow-text">{{ poke.quantity - 1 }}</p>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}

            </div>
        </section>

        <div class="arrow-div my-auto d-flex align-items-center flex-column">
            <div class="d-flex align-items-center">
                <span class="trade-price text-white">0</span>
                <img class="coin-trade" src="{{ asset('medias/images/elements/coin-resized.png') }}" alt="">
            </div>
            <img class="arrow-trade arrow-1" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">
            <img class="arrow-trade arrow-2" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">
        </div>

        <section class="user-part trade-2">

            <div class="d-flex flex-row-reverse align-items-center">
                <div class="d-flex align-items-center flex-column">
                    <h3 class="text-white">{{ user.pseudonym }}</h3>
                    <img src="{{ asset('medias/images/trainers/' ~ user.avatar ~ '.gif') }}" alt="">
                </div>



                {% if userActive == trade.user1 %}

                    {% if trade.pokemonTrade2 is not null %}
                        <div class="select-trade select-trade-2 validate-pokemon">
                            <img class="choose-2 va" src="{{ asset('medias/images/gifs/' ~ urlPokemon2 ~ '.gif') }}" alt="">
                        </div>
                    {% else %}
                        <div class="select-trade select-trade-2 ">
                            <span class="not-2">?</span>
                            <img class="d-none choose-2" src="" alt="">
                        </div>
                    {% endif %}

                {% else %}
                    {% if trade.pokemonTrade1 is not null %}
                        <div class="select-trade select-trade-2 validate-pokemon">
                            <img class="choose-2" src="{{ asset('medias/images/gifs/' ~ urlPokemon1 ~ '.gif') }}" alt="">
                        </div>
                    {% else %}
                        <div class="select-trade select-trade-2 ">
                            <span class="not-2">?</span>
                            <img class="d-none choose-2" src="" alt="">
                        </div>
                    {% endif %}

                {% endif %}

            </div>

            <h2 class="trade-title">Les Pokémons de {{ user.pseudonym }}</h2>

            <div class="poke-trade">

                {% for poke2 in pokeAvailable2 %}
                    <div class="main-trade-bubble">
                        <div class="poketrade">
                            <p class="trade-name">{{ poke2.pokemon.name|title|u.truncate(13, '...') }}</p>
                            {% set pokeUrl2 = poke2.shiny == true ? 'shiny-' ~ poke2.pokemon.nameEn : poke2.pokemon.nameEn %}
                            <img class="poketrade-gif mirror-x" src="{{ asset('medias/images/gifs/' ~ pokeUrl2 ~ '.gif') }}" alt="">
                            {% if poke2.shiny %} <img class="shiny-trade-symbol" src="{{ asset('medias/images/sparkle/etoiles-shiny.png') }}" alt=""> {% endif %}
                        </div>

                        <div class="number-trade">
                            <img class="x-trade" src="{{ asset('medias/images/elements/multiple.png') }}" alt="">

                            {% if poke2.shiny is true %}
                                <p class="m-0 yellow-text">{{ poke2.quantity }}</p>
                            {% else %}
                                <p class="m-0 yellow-text">{{ poke2.quantity - 1 }}</p>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}

            </div>

        </section>
    </div>

    {% block js %}
        <script>
            var tradeUpdateUrl = '{{ url('app_trade_update', {trade: trade.id}) }}';
        </script>
        <script type="module" src="{{ asset('js/trade.js') }}?version=1.0"></script>
        <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    {% endblock %}



{% endblock %}