{% extends 'base.html.twig' %}

{% block title %}
    Echanger avec {{ user.pseudonym|capitalize }}
{% endblock %}

{% block body %}

    <h1 class="text-center text-white m-5">Echangez vos Pokémons !</h1>

    <div class="main-trade">
        <section class="user-part trade-1">

            <div class="d-flex align-items-center">
                <div class="d-flex flex-column align-items-center ">
                    <h2 class="text-white">{{ app.user.pseudonym|capitalize }}</h2>
                    <img class="mirror-x" src="{{ asset('medias/images/trainers/' ~ app.user.avatar ~ '.gif') }}" alt="">
                </div>

                {% if trade.pokemonTrade1 %}
                    <div class="choosen-trade-poke">
                        <img class="mirror-x" src="{{ asset('medias/images/gifs/' ~ trade.pokemonTrade1.pokemon.nameEn ~ '.gif') }}" alt="">
                    </div>
                {% else %}
                    <div class="not-choosen-trade">
                        <img src="{{ asset('medias/images/elements/what.png') }}" alt="">
                    </div>

                {% endif %}
            </div>

            <h2 class="trade-title">Vos Pokémons echangables</h2>

            <div class="poke-trade">

                {% for poke in pokeAvailable1 %}

                    <div class="poketrade">
                        <p class="trade-name">{{ poke.pokemon.name|title|u.truncate(15, '...') }}</p>
                        <div>
                            <img class="mirror-x" src="{{ asset('medias/images/gifs/' ~ poke.pokemon.nameEn ~ '.gif') }}" alt="">
                            <img class="x-trade" src="{{ asset('medias/images/elements/multiple.png') }}" alt="">

                            {% if poke.shiny is true %}
                                <p class="m-0">{{ poke.quantity }}</p>
                            {% else %}
                                <p class="m-0">{{ poke.quantity - 1 }}</p>
                            {% endif %}
                        </div>

                    </div>

                {% endfor %}

            </div>
        </section>
        
        
        <div class="arrow-div my-auto">
            <img class="arrow-trade arrow-1" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">
            <img class="arrow-trade arrow-2" src="{{ asset('medias/images/elements/arrow.png') }}" alt="">
        </div>
        
        

        <section class="user-part trade-2">

            <div class="d-flex flex-row-reverse align-items-center">
                <div class="d-flex align-items-center flex-column">
                    <h3 class="text-white">{{ user.pseudonym }}</h3>
                    <img src="{{ asset('medias/images/trainers/' ~ user.avatar ~ '.gif') }}" alt="">
                </div>

                {% if trade.pokemonTrade2 %}
                    <div class="choosen-trade-poke">

                        <img src="{{ asset('medias/images/gifs/' ~ trade.pokemonTrade2.pokemon.nameEn ~ '.gif') }}" alt="">
                    </div>
                {% else %}
                    <div class="not-choosen-trade">

                        <img src="{{ asset('medias/images/elements/what.png') }}" alt="">
                    </div>

                {% endif %}

            </div>

            <h2 class="trade-title">Les Pokémons de {{ user.pseudonym }}</h2>

            <div class="poke-trade">

                {% for poke2 in pokeAvailable2 %}

                    <div class="poketrade">
                        <p class="trade-name">{{ poke2.pokemon.name|title|u.truncate(15, '...') }}</p>
                        <div>
                            <img src="{{ asset('medias/images/gifs/' ~ poke2.pokemon.nameEn ~ '.gif') }}" alt="">
                            <img class="x-trade" class="m-0" src="{{ asset('medias/images/elements/multiple.png') }}" alt="">
                            {% if poke2.shiny is true %}
                                <p class="m-0">{{ poke2.quantity }}</p>
                            {% else %}
                                <p class="m-0">{{ poke2.quantity - 1 }}</p>
                            {% endif %}
                        </div>

                    </div>

                {% endfor %}

            </div>

        </section>
    </div>





{% endblock %}